{% extends '::base.html.twig' %}

{% block title %} Productos {% endblock %}
{% block body %}

    <h1> Añadir Productos</h1>

    <form method="producto" action="{{ path('app_productos_doAdd') }} ">
        Titulo: <input type="text" name="title" /> </br>
        Tipo: <input type="text" name="type" /> </br>
        Descripcion: <textarea type="text" name="content" />

        <input type= "submit" value="crear"/>
    </form>

{% endblock %}